button
{
background-color:lightseagreen;
}

body
{
    color: darkblue;
    background-color: aqua;
   
}

body h1
{
   font-size: xx-large;
   color: blueviolet; 
   padding: 20px;

}

body input
{
    padding: 10px;
}